/*=== abstracts css start === */
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Bebas Neue", sans-serif;
  color: #e7dce2;
  background: #000;
}

@media (min-width: 1340px) {
  .container {
    max-width: 1304px;
  }
}

/*===// end of base css === */
/*=== layouts css start === */
.header {
  background: #040404;
}
.header .logo {
  font-size: 40px;
  background: #c01820;
  padding: 6px 50px;
  border: 1px solid #4a0c0d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header .p-name {
  font-size: 30px;
}
@media (max-width: 991px) {
  .header .p-name {
    font-size: 24px;
  }
}
.header .p-name span {
  color: #c01820;
}
.header .coin p {
  font-size: 21px;
}
.header .prog-1 p {
  font-size: 21px;
}
.header .prog-1 .progress-bar {
  height: 9px;
  border-radius: 10px;
  background: rgb(131, 131, 131);
  background: linear-gradient(180deg, rgb(131, 131, 131) 0%, rgb(194, 194, 194) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.75), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}
.header .prog-1 .progress-bar .bar {
  position: absolute;
  display: block;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
}
.header .prog-1 .progress-bar .bar.bar-blue {
  width: 90%;
  background: #01a9f5;
}
.header .prog-1 .progress-bar .bar.bar-green {
  background: #1cf308;
  width: 80%;
}

.footer {
  background: #000;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer p {
  font-size: 24px;
}
@media (max-width: 767px) {
  .footer p {
    font-size: 18px;
  }
}

/*===// end of layouts css === */
/*=== components css start === */
.main-contents {
  min-height: calc(100vh - 95px);
  background: url(../images/main-bg-2.png) no-repeat center center/cover;
}
@media (min-width: 1200px) {
  .main-contents {
    background: url(../images/main-bg-2.png) no-repeat top left/cover;
  }
}
.main-contents .info-wrapper {
  background: rgba(184, 24, 32, 0.937254902);
}
.main-contents .info-wrapper .left .option {
  display: flex;
  align-items: center;
}
.main-contents .info-wrapper .left .option .n-indicator {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 12px 20px;
  cursor: pointer;
}
.main-contents .info-wrapper .left .option .n-indicator img {
  margin-right: 5px;
}
.main-contents .info-wrapper .left .option .n-indicator.active {
  background: rgba(12, 13, 13, 0.862745098);
}
.main-contents .info-wrapper .right ul {
  display: flex;
  align-items: center;
}
.main-contents .info-wrapper .right ul a {
  display: inline-block;
  margin: 0 10px;
}
.main-contents .nav-link-wrapper {
  background: rgba(12, 13, 13, 0.7607843137);
}
.main-contents .nav-link-wrapper ul {
  display: flex;
  align-items: center;
}
.main-contents .nav-link-wrapper .link-n {
  display: inline-block;
  padding: 12px 15px;
  font-size: 24px;
  color: #e7dce2;
}
.main-contents .nav-link-wrapper .link-n.active {
  background: #c01820;
}
@media (max-width: 767px) {
  .main-contents .nav-link-wrapper .link-n {
    font-size: 14px;
    padding: 10px;
  }
}
.main-contents .nav-link-wrapper .dropdown-c-menu {
  position: absolute;
  min-width: 200px;
  display: block;
  left: 0;
  top: 100%;
  background: #000;
  border: 1px solid #c01820;
}
.main-contents .nav-link-wrapper .dropdown-c-menu .d-item {
  color: #e7dce2;
  font-size: 20px;
  display: block;
  white-space: nowrap;
  padding: 3px 10px;
}
.main-contents .nav-link-wrapper .dropdown-c-menu .d-item:hover {
  background: #c01820;
}
@media (max-width: 767px) {
  .main-contents .nav-link-wrapper .dropdown-c-menu .d-item {
    font-size: 16px;
  }
}
.main-contents .data-body .wrapper {
  background: #000;
}
.main-contents .data-body .wrapper .title {
  font-size: 34px;
  padding: 10px 15px;
}
.main-contents .data-body .wrapper .right .link-d {
  display: inline-block;
  padding: 12px 30px;
  font-size: 24px;
  color: #e7dce2;
}
.main-contents .data-body .wrapper .right .link-d.active {
  background: #c01820;
}
@media (max-width: 767px) {
  .main-contents .data-body .wrapper .right .link-d {
    font-size: 20px;
    padding: 10px 25px;
  }
}
.main-contents .data-body .wrapper .inner-content {
  padding: 100px;
}
@media (max-width: 767px) {
  .main-contents .data-body .wrapper .inner-content {
    padding: 30px;
  }
}
.main-contents .data-body .wrapper .inner-content p {
  font-size: 28px;
}
@media (max-width: 767px) {
  .main-contents .data-body .wrapper .inner-content p {
    font-size: 20px;
  }
}

.outgame {
  min-height: 100vh;
  background: url(../images/main-bg-2.png) no-repeat top left/cover;
  padding-bottom: 90px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .outgame {
    padding-bottom: 200px;
  }
}
@media (min-width: 1700px) {
  .outgame .container {
    max-width: 1685px;
  }
}
.outgame .logo {
  font-size: 40px;
  background: #c01820;
  padding: 6px 50px;
  border: 1px solid #4a0c0d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.outgame .menuwrapper {
  max-width: 800px;
}
@media (min-width: 1600px) {
  .outgame .menuwrapper {
    max-width: 980px;
  }
}
@media (max-width: 1199px) {
  .outgame .menuwrapper {
    margin: auto;
  }
}
.outgame .menuwrapper .navs {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .outgame .menuwrapper .navs {
    border-radius: 5px;
  }
}
.outgame .menuwrapper .navs .link-nv {
  font-size: 36px;
  color: #e7dce2;
  padding: 10px 20px;
  display: inline-block;
  line-height: 1;
  background: rgba(0, 0, 0, 0.9607843137);
}
@media (max-width: 1400px) {
  .outgame .menuwrapper .navs .link-nv {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .outgame .menuwrapper .navs .link-nv {
    font-size: 25px;
  }
}
.outgame .menuwrapper .navs .link-nv.active {
  background: #92141a;
}
.outgame .menuwrapper .navs .link-nv::after {
  display: none;
}
.outgame .menuwrapper .navs .dropdown-menu {
  background: #000;
  border: 1px solid #c01820;
}
.outgame .menuwrapper .navs .dropdown-menu .dropdown-item {
  color: #e7dce2;
  font-size: 20px;
}
.outgame .menuwrapper .navs .dropdown-menu .dropdown-item:hover {
  background: #c01820;
}
.outgame .menuwrapper .member-stats {
  background: rgba(0, 0, 0, 0.9607843137);
  border-radius: 5px;
}
.outgame .menuwrapper .member-stats p {
  font-size: 28px;
}
@media (max-width: 1400px) {
  .outgame .menuwrapper .member-stats p {
    font-size: 24px;
  }
}
.outgame .menuwrapper .login {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6980392157);
  padding: 12px 15px;
}
.outgame .menuwrapper .login .input-group {
  border: 1px solid #4a0c0d;
  border-radius: 13px;
  overflow: hidden;
  background: #000;
  background: linear-gradient(90deg, rgb(12, 13, 13) 0%, rgb(0, 0, 0) 100%);
}
.outgame .menuwrapper .login .input-group .input-group-text {
  background: transparent;
  border-color: #000;
}
.outgame .menuwrapper .login .input-group .in-place {
  background: transparent;
  border-color: #000;
  color: #e7dce2;
}
.outgame .menuwrapper .login .btn-login {
  border-radius: 7px;
  background: #92141a;
  background: linear-gradient(270deg, rgba(146, 20, 26, 0.89) 0%, rgba(112, 16, 20, 0.9) 50%, rgba(112, 16, 20, 0.81) 83%, rgba(112, 16, 20, 0.9) 100%);
  height: 100%;
  width: 100%;
}
.outgame .inner-wrap {
  max-width: 800px;
  padding-top: 60px;
}
@media (min-width: 1600px) {
  .outgame .inner-wrap {
    max-width: 980px;
  }
}
@media (max-width: 1199px) {
  .outgame .inner-wrap {
    margin: auto;
  }
}
.outgame .inner-wrap .text-wrapper {
  border-radius: 13px;
  background: linear-gradient(90deg, rgba(12, 13, 13, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  padding: 35px;
  margin-bottom: 45px;
}
.outgame .inner-wrap .text-wrapper .tex-p {
  padding-bottom: 80px;
}
.outgame .inner-wrap .text-wrapper .tex-p .i-text {
  font-size: 30px;
  padding-bottom: 45px;
}
.outgame .inner-wrap .text-wrapper .tex-p .inputs {
  border: 1px solid #4a0c0d;
  padding: 12px;
  border-radius: 13px;
  background: #000;
  background: linear-gradient(90deg, rgb(12, 13, 13) 0%, rgb(0, 0, 0) 100%);
  font-size: 25px;
  color: #e7dce2;
}
.outgame .inner-wrap .stat-and-entry h2 {
  font-size: 30px;
  color: rgba(231, 220, 226, 0.2509803922);
  padding: 0;
}
.outgame .inner-wrap .stat-and-entry .player-details {
  border-radius: 13px;
  background: linear-gradient(90deg, rgba(12, 13, 13, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
  padding: 20px;
  height: 100%;
}
.outgame .inner-wrap .stat-and-entry .player-details p {
  font-size: 24px;
  color: #e7dce2;
  text-transform: uppercase;
}
.outgame .inner-wrap .stat-and-entry .rewards {
  padding: 20px;
  border-radius: 13px;
  background: linear-gradient(90deg, rgba(12, 13, 13, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
  height: 100%;
}
.outgame .inner-wrap .stat-and-entry .rewards .value {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.outgame .inner-wrap .stat-and-entry .rewards .value.v1 {
  color: #ffd700;
}
.outgame .inner-wrap .stat-and-entry .rewards .value.v2 {
  color: #c0c0c0;
}
.outgame .inner-wrap .stat-and-entry .rewards .value.v3 {
  color: #cd7f32;
}
.outgame .inner-wrap .stat-and-entry .entry {
  height: 100%;
}
.outgame .inner-wrap .stat-and-entry .entry .btn-entry {
  height: 100%;
  width: 100%;
  border-radius: 13px;
  border: none;
  line-height: 1.2;
  background: linear-gradient(180deg, rgba(146, 20, 26, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
  color: #e7dce2;
  text-transform: uppercase;
  text-align: center;
  font-size: 72px;
  transition: all 0.3s;
}
.outgame .inner-wrap .stat-and-entry .entry .btn-entry:hover {
  background: linear-gradient(90deg, rgba(146, 20, 26, 0.7490196078) 0%, rgba(0, 0, 0, 0.7490196078) 100%);
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */